

* {
    margin: 0;
    padding: 0;
}
.img-home {
    background: url(/images/PNC.jpg);
    background-size: cover;
    background-image: no-repeat;
    height: 40vh;
    display: flex;
    align-items: flex-end;
}
ul {
    display: flex;
    list-style: none;
    width: 100%;
    background: red;

}
.container{
    width: 100%;
}
ul li {
    padding: 15px;
    font-size: 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
ul li:hover{
    background: yellow;
}
.bg1 {
    position: relative;
    width: 40%;
    height: 60vh;
    background: rgba(218, 110, 110, 0.658);
}

body{
    background: rgba(229, 235, 210, 0.863);
}
p{
    font-family: sans-serif;
    font-size: 50px;
}
h1{
    text-align: center;
    margin: 2% 2%;
}
form{
    width: 40%;
    height: 45vh;
    margin-left: 4%;
}
.login{
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.map{
    width: 50%;
    margin-right: 3%;
    margin-top: 1%;
    height: 53vh;
}
input{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}
textarea{
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    border: none;
}
input[type=submit]{
    border: none;
    background: lightblue;
}
h2{
    margin-left: 4%;
    margin-bottom: 2%;
}
footer{
    background: teal;
    height: 20vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
    