body{
    margin: 0;
    padding: 0;
}
.img-home {
    background: url('../images/PNC.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
}
.list {
    width: 100%;
    position: absolute;
    top: 30%;
    background: rgba(218, 110, 110, 0.658);
    /* border-radius: 10px; */
    box-shadow: 4px 6px 5px 0px rgba(7,7,7,0.61);

}
.list ul {
    display: flex;
    list-style: none;



}
.list ul li {
    padding: 2px;
    font-size: 20px;
}
.list ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding: 10px;
}
ul li:hover{
    background: rgba(0,0,0,0.3);
   
}
.bg1 {
    position: relative;
    width: 40%;
    height: 40vh;
    background: teal;
}

.profile{
    /* display: grid;
    grid-template-columns: 40% , 60%; */
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/Ti.jpg);
    background-size: cover;
    background-image: no-repeat;
}
.text-pf{
   width: 50%;
   padding: 10px;
   font-size: 30px;
   color:rgb(173, 226, 28);
}

.images {
   width: 20%;
   height: 40px;
   margin-top: 50px;
}

.btn{
    background: rgb(20, 190, 212);
    color:#fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 250px;

}
.pro {
 width: 100%;
 box-sizing: border-box;
}
.icon{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50px;
    padding: 50px;
}

 ol{
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style: none;
}
footer{
    display: flex;
    justify-content: center;
    height: 10vh;
} 
